#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

body {
    font-family: "Charter", Times, "Times New Roman", serif;
}

.u-photo {
    max-width: 100px;
}

.list {
    padding-left: 0;
    list-style: none;
}
