{% extends "/html/base.html" %}
{% block subtitle %}: Archives{% endblock %}
{% block content %}
<section class="h-feed">
  <h1>Archives</h1>
  {% for group in groups %}
  <h2>{{group.group}}</h2>
  <ul class="list">
    {% for post in group.posts %}
    <li class="h-entry">
      <span class="dt-published" datetime="{{post.date|date:"yyyy-MM-dd'T'HH:mm:ss"}}">{{post.date|date:"dd. MMM"}}</span> - <a class="p-name u-url u-uid" href="{{post.uri}}">{{post.title}}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
{% endblock %}
