{% extends "/html/base.html" %}
{% block subtitle %}: Posts by {{author}}{% endblock %}
{% block content %}
<section class="h-feed">
  <h1>Posts by {{author}}</h1>
  {% for group in groups %}
  <h2>{{group.group}}</h2>
  <ul class="list">
    {% for post in group.posts %}
    <li class="h-entry">
      <span class="dt-published">{{post.date|date:"dd. MMM"}}</span> - <a class="u-url u-uid" href="{{post.uri}}">{{post.title}}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
{% endblock %}
