<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}{% block subtitle %}{% endblock %}</title>
  {% block meta %}
  <meta name="description" content="{{description}}"/>
  <meta name="keywords" content=""/>
  {% endblock %}
  <link rel="shortcut icon" type="image/png" sizes="256x256" href="/favicon.png"/>
  <link rel="canonical" href="{{site-url}}{{uri}}"/>

  <!-- IndieWeb-Endpoints -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token"/>
  <link rel="webmention" href="https://vgai.de/webmentions"/>

  {% style "css/bootstrap.min.css" %}
  {% style "css/fork-awesome.min.css" %}
  {% style "css/screen.css" %}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body class="pt-5 mx-auto" style="width:90%;max-width:800px">
<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <input id="navbar-toggle-cbox" type="checkbox">
      <label for="navbar-toggle-cbox" class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false" aria-controls="navbarContent">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </label>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto mb-0 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link{% if home %} active" aria-current="page{% endif %}" href="{{index-uri}}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link{% if archives %} active" aria-current="page{% endif %}" href="{{archives-uri}}">Archives</a>
          </li>

          <li class="nav-item">
            <a class="nav-link{% ifequal uri tags-uri %} active" aria-current="page{% endifequal %}" href="{{tags-uri}}">Tags</a>
          </li>
          {% for nav-page in navbar-pages %}
          <li class="nav-item">
            <a class="nav-link{% ifequal page.uri nav-page.uri %} active" aria-current="page{% endifequal %}" href="{{nav-page.uri}}">{{nav-page.title}}</a>
          </li>
          {% endfor %}
          <li class="nav-item">
            <a class="nav-link" href="{{rss-uri}}">RSS</a>
          </li>
        </ul>
      </div>
      <span class="navbar-brand mb-0 h1">{{title}}</span>
    </div>
  </nav>
</header>

<div class="container py-3" id="content">
{% block content %}{% endblock %}
</div>
<div class="h-card shadow p-3 mb-5 mx-auto bg-body rounded col-md-8 offset-md-4">
{% include "/html/h-card.html" %}
</div>
<footer class="bg-light">
  <nav class="navbar navbar-expand border-bottom border-dark border-2" id="bottom-nav">
    <div class="collapse navbar-collapse">
      <p class="col text-start mb-0">{% block left-nav %}{% endblock %}</p>
      <p class="col text-center mb-0 border-start border-end border-secondary"><a class="nav-link" href="#" title="Top of the page">Top</a></p>
      <p class="col text-end mb-0">{% block right-nav %}{% endblock %}</p>
    </div>
  </nav>
  <aside id="social" class="d-flex justify-content-between p-3">
    {% for link in social %}
    <a rel="me" href="{{link.url}}"><i class="fa fa-2x fa-{{link.icon}}" title="{{link.title}}"></i></a>
    {% endfor %}
  </aside>
  <div class="p-3 text-center">
    Copyright &copy; {{today|date:yyyy}} {{author}} |
    Powered by <a href="http://cryogenweb.org">Cryogen</a>
  </div>
</footer>

</body>
</html>
