<div class="d-inline-flex flex-row align-items-start">
  <img class="u-photo m-3" src="{{hcard.photo}}" alt="{{author}}"/>
  <div>
    <h2><a class="p-name u-url" href="{{hcard.url}}" rel="me"><span class="p-given-name">{{hcard.given-name}}</span> <span class="p-additional-name">{{hcard.additional-name}}</span> <span class="p-family-name p-sort-string">{{hcard.family-name}}</span></a></h2>
    <p class="mb-1">Pronouns: <span class="p-gender-identity">{{hcard.gender-identity}}</span></p>
    <p class="mb-1">Location: <span class="p-locality">{{hcard.locality}}</span>, <span class="p-country-name">{{hcard.country}}</span></p>
    <p class="mb-1"> <a class="u-email" rel="me" href="mailto:{{hcard.email}}">Email me</a></p>
  </div>
</div>
<p class="p-note mb-1">{{hcard.note}}</p>
