{% extends "/html/base.html" %}
{% block subtitle %}: {{page.title}}{% endblock %}
{% block meta %}
<meta name="keywords" content="{% for tag in tags %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}"/>
{% if page.description %}
<meta name="description" content="{{page.description}}"/>
{% endif %}
{% if page.author %}
<meta name="author" content="{{page.author}}"/>
{% endif %}
<!-- OpenGraph tags -->
<meta property="og:title" content="{{page.title}}"/>
{% if page.description %}
<meta property="og:description" content="{{page.description}}"/>
{% endif %}
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{site-url}}{{uri}}"/>
<meta property="article:published_time" content="{{page.date}}"/>
<!-- Twitter cards -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{page.title}}"/>
<meta name="twitter:description" content="{{page.description}}"/>
{% endblock %}
{% block content %}
<article class="h-entry mt-3">
  <header class="border-top border-3 border-dark pt-2">
    <h1 class="p-name">{{page.title}}</h1>
    <div class="h-card p-author d-none">
      {% include "/html/h-card.html" %}
    </div>
  </header>
  <hr class="mx-auto" width="80%"/>
  <div class="e-content fs-5">
    {% if page.toc %}{{page.toc|safe}}{% endif %}
    {{page.content|safe}}
  </div>
  <hr class="mx-auto" width="80%"/>
  <footer>
    <div id="permalink" class="my-2">
      Permalink:
      <i class="fa fa-link ms-2" title="Permalink"></i>
      <a class="u-url u-uid" href="{{site-url}}{{page.uri}}">{{site-url}}{{page.uri}}</a> 
    </div>
    {% if page.syndication|not-empty %}
    <div id="syndication" class="my-2">
      Syndication:
      {% for link in page.syndication %}
      <a class="u-syndication me-2" rel="syndication" href="{{link.url}}">
        <i class="fa fa-{{link.icon}} ms-2" title="{{link.title}}"></i>
        {{link.title}}
      </a>
      {% endfor %}
    </div>
    {% endif %}
    {% if page.replies|not-empty %}
    <div id="replies" class="my-2">
      <h3>Replies</h3>
      {% for link in page.replies %}
      <div class="h-cite">
        <a class="u-url p-name" href="{{link.url}}">{{link.title}}</a>
        by
        <a class="p-author h-card" href="{{link.by.url}}">{{link.by.name}}</a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </footer>
</article>
{% endblock %}
{% block left-nav %}
{% if page.prev %}
<a class="nav-link" rel="prev" href="{{page.prev.uri}}">
  <i class="fa fa-arrow-circle-left" title="Previous Page"></i>
  {{page.prev.title}}
</a>
{% endif %}
{% endblock %}
{% block right-nav %}
{% if page.next %}
<a class="nav-link" rel="next" href="{{page.next.uri}}">
  {{page.next.title}}
  <i class="fa fa-arrow-circle-right" title="Next Page"></i>
</a>
{% endif %}
{% endblock %}
