{% extends "/html/base.html" %}
{% block subtitle %}: {{post.title}}{% endblock %}
{% block meta %}
<meta name="keywords" content="{% for tag in tags %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}"/>
{% if post.description %}
<meta name="description" content="{{post.description}}"/>
{% endif %}
{% if post.author %}
<meta name="author" content="{{post.author}}"/>
{% endif %}
<!-- OpenGraph tags -->
<meta property="og:title" content="{{post.title}}"/>
{% if post.description %}
<meta property="og:description" content="{{post.description}}"/>
{% endif %}
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{site-url}}{{uri}}"/>
<meta property="article:published_time" content="{{post.date}}"/>
<!-- Twitter cards -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{post.title}}"/>
<meta name="twitter:description" content="{{post.description}}"/>
{% endblock %}
{% block content %}
<article class="h-entry mt-3">
  <header class="border-top border-3 border-dark pt-2">
    <h1 class="p-name">{{post.title}}</h1>
    <div id="post-date" class="my-3">
      <i class="fa fa-calendar mx-2" title="date posted"></i>
      <time class="dt-published" datetime="{{post.date|date:"yyyy-MM-dd'T'HH:mm:ss"}}">{{post.date|date:longDate}}</time>
    </div>
    <div class="h-card p-author d-none">
      {% include "/html/h-card.html" %}
    </div>
    <div id="post-tags">
      <i class="fa fa-tags mx-2" title="tags"></i>
      {% for tag in post.tags %}
      <a rel="tag" class="me-2 p-category" href="{{tag.uri}}">{{tag.name}}</a>
      {% endfor %}
    </div>
  </header>
  <hr class="mx-auto" width="80%"/>
  <div class="e-content fs-5">
    {% if post.toc %}{{post.toc|safe}}{% endif %}
    {{post.content|safe}}
  </div>
  <hr class="mx-auto" width="80%"/>
  <footer>
    <div id="permalink" class="my-2">
      Permalink:
      <i class="fa fa-link ms-2" title="permalink"></i>
      <a rel="bookmark" class="u-url u-uid" href="{{site-url}}{{post.uri}}">{{site-url}}{{post.uri}}</a> 
    </div>
    {% if post.syndication|not-empty %}
    <div id="syndication" class="my-2">
      Syndication:
      {% for link in post.syndication %}
      <a class="u-syndication me-2" rel="syndication" href="{{link.url}}">
        <i class="fa fa-{{link.icon}} ms-2" title="{{link.title}}"></i>
        {{link.title}}
      </a>
      {% endfor %}
    </div>
    {% endif %}
    {% if post.replies|not-empty %}
    <div id="replies" class="my-2">
      <h3>Replies</h3>
      {% for link in post.replies %}
      <div class="h-cite">
        <a class="u-url p-name" href="{{link.url}}">{{link.title}}</a>
        by
        <a class="p-author h-card" href="{{link.by.url}}">{{link.by.name}}</a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </footer>
</article>
{% endblock %}
{% block left-nav %}
{% if post.prev %}
<a class="nav-link" rel="prev" href="{{post.prev.uri}}">
  <i class="fa fa-arrow-circle-left" title="Previous Post"></i>
  {{post.prev.title}}
</a>
{% endif %}
{% endblock %}
{% block right-nav %}
{% if post.next %}
<a class="nav-link" rel="next" href="{{post.next.uri}}">
  {{post.next.title}}
  <i class="fa fa-arrow-circle-right" title="Next Post"></i>
</a>
{% endif %}
{% endblock %}
