{% extends "/html/base.html" %}
{% block content %}
<section class="h-feed">
  {% for post in posts %}
  <article class="h-entry">
    <h2 class="p-name">{{post.title}}</h2>
    <div>
      <i class="fa fa-calendar mx-2" title="date posted"></i>
      <time class="dt-published" datetime="{{post.date|date:"yyyy-MM-dd'T'HH:mm:ss"}}">{{post.date|date:longDate}}</time>
    </div>
    <div>
      <i class="fa fa-tags mx-2" title="tags"></i>
      {% for tag in post.tags %}
      <a rel="tag" class="me-2 p-category" href="{{tag.uri}}">{{tag.name}}</a>
      {% endfor %}
    </div>
    <div class="p-summary mt-2">
      {{post.content|safe}}
    </div>
    <a class="u-url u-uid" href="{{post.uri}}">Continue reading &#8594;</a>
  </article>
  <hr/>
  {% endfor %}
</section>
{% endblock %}
{% block left-nav %}
{% if post.prev %}
<a class="nav-link" rel="prev" href="{{post.prev.uri}}">
  <i class="fa fa-arrow-circle-left" title="Previous Posts"></i>
  {{post.prev.title}}
</a>
{% endif %}
{% endblock %}
{% block right-nav %}
{% if post.next %}
<a class="nav-link" rel="next" href="{{post.next.uri}}">
  {{post.next.title}}
  <i class="fa fa-arrow-circle-right" title="Next Posts"></i>
</a>
{% endif %}
{% endblock %}
