{% extends "/html/base.html" %}
{% block subtitle %}: Posts Tagged &quot;{{name}}&quot;{% endblock %}
{% block content %}
<section class="h-feed">
  <h1>Posts Tagged &quot;{{name}}&quot;</h1>
  <ul class="list">
    {% for post in posts %}
    <li class="h-entry">
      <span class="dt-published">{{post.date|date:"yyyy-MM-dd"}}</span> - <a class="p-name u-url u-uid" href="{{post.uri}}">{{post.title}}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
