{% extends "/html/base.html" %}
{% block subtitle %}: Tags{% endblock %}
{% block content %}
<section>
  <h1>Tags</h1>
  <ul class="list">
    {% for tag in tags %}
    <li class="m-2"><a href="{{tag.uri}}"><i class="fa fa-tag" title="tag"></i> {{tag.name}}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
